<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(183, 189, 107);">

   
<div class="alert alert-primary" role="alert" style="text-align: center;">
   <h2> Todo App </h2>
   </div>
<div style="margin-top: 10%; margin-left:30%;  "   >

 
  <a href="todoget/{{session.user_id}}">Todo Show</a>

    <form action="/todo" method="post">


        <input type="text" name="task" id="" placeholder="Enter Your Task">
        <input type="text" name="user" id="" value="{{session.username}}"   placeholder="Enter user id ">

  
     <button type="submit">add  post</button> 
        
    </form>
    
</div>


    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>



